.menu{
    margin: 300px auto 0 auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button{
    font-size: 23px;
    line-height: 50px;
    font-weight: 500;
    width: 220px;
    height: 50px;
    text-align: center;
    background: #941313;
    border-radius: 4px;
    margin-bottom: 40px;
    color: #afafaf;
    cursor: pointer;
    user-select: none;
}

.button:hover{
    box-shadow: 1px 1px 3px 3px rgba(128, 69, 69, 0.22);
    color: #c4c4c4;
}

.button:active{
    background: #a11d1d;
}